#!/usr/bin/make -f

KERNEL_SOURCES = $(CURDIR)/android_kernel_sony_kumano

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

# Use external device-tree-compiler
BUILD_COMMAND := $(BUILD_COMMAND) DTC_EXT=dtc

%:
	dh $@
