#!/usr/bin/make -f

KERNEL_SOURCES = $(CURDIR)/android_kernel_sony_kumano

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

# Use external device-tree-compiler
BUILD_COMMAND := $(BUILD_COMMAND) DTC_EXT=dtc

%:
	dh $@

out/KERNEL_OBJ/.config: path-override-prepare $(KERNEL_SOURCES)/arch/$(KERNEL_ARCH)/configs/$(KERNEL_BASE_DEFCONFIG) $(KERNEL_SOURCES)/arch/$(KERNEL_ARCH)/configs/diffconfig/common_diffconfig $(KERNEL_SOURCES)/arch/$(KERNEL_ARCH)/configs/diffconfig/$(KERNEL_PRODUCT_DIFFCONFIG)
	mkdir -p $(KERNEL_OUT)
	$(BUILD_COMMAND) ARCH=$(KERNEL_ARCH) O=$(KERNEL_OUT) KBUILD_DIFFCONFIG=$(KERNEL_PRODUCT_DIFFCONFIG) $(KERNEL_BASE_DEFCONFIG)
	cd $(KERNEL_SOURCES) ; ARCH=$(KERNEL_ARCH) $(KERNEL_SOURCES)/scripts/kconfig/merge_config.sh -O $(KERNEL_OUT) \
		$(KERNEL_OUT)/.config \
		$(KERNEL_SOURCES)/droidian/halium.config \
		$(KERNEL_SOURCES)/droidian/droidian.config \
		$(KERNEL_SOURCES)/droidian/kumano.config \
		$(KERNEL_SOURCES)/droidian/$(DEVICE_MODEL).config \
		;
